/* SIZE AND ALIGNMENT */
body, div.canvas, div.header, div.nav_bar, div.footer
{
    width: 720px;
    margin: auto;
    text-align: center;
}
div.content
{
    width: 720px;
    margin: auto;
    text-align: left;
}

/* BACKGROUND */
body
{
    background-image:url("../images/back.png");
    background-repeat:repeat-x;
    background-color: #cccccc;
}

div.canvas
{
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #FFFFFF;
}

/* FONT */
a.nav_button 
{
    text-decoration: none;
    font-family:"Arial", Helvetica, sans-serif;
}

/* ANCHORS */
a.nav_button, div.footer
{

    display:block;
    color:#FFFFFF;
    background-color:#000000;
    
}

/* NAV_BUTTONS */
a.nav_button
{
    float: left;

    width:120px;

    text-align: center;
    padding: 2px 0px 2px;

}
a.nav_button:hover, a.nav_button:active
{
    color:#000000;
    background-color:#FFFFFF;
}

h1.title, h3.section
{
    font-family: "Garamond", Georgia, serif;
}

h1.title
{
    text-align: center;
}

h3.section
{
    text-align: left;
}

p.body_left, p.body_right, p.notice
{
    text-decoration: none;
    font-family: "Arial", Helvetica, sans-serif;
}

p.notice
{
    text-align: center;
}

p.body_left 
{
    text-align: left;
}

p.body_right
{
    text-align: right;
}

p.body_center
{
    text-align: center;
}
