div.contact_pic, div.contact_info
{
    margin: auto;
}

p.intro
{
    text-align: left;
}

/* EBOARD CONTACTS */
div.contact_pic
{
    text-align: left;
}
div.contact_info
{
    text-align: right;
}
